<span class="user">
<% if user.avatar? %>
  <span class="user-avatar">
    <%= image_tag(user.avatar.url, class: 'img-icon') %>
  </span>
<% end %>
  <span class="user-name">
    <% if request.path == user_path(user) %>
      <%= user.name %>
    <% else %>
      <%= link_to user.name, user_path(user) %>
    <% end %>
  </span>
</span>
