<h1><%= t('users.favorites.title')%> <%= @user.username %></h1>

<% if !@places_likes.any? %>
  <p class="buffer-top"><%= t('users.favorites.has_not_liked') %></p>
<% end %>

<div id="map"></div>

<%= javascript_pack_tag 'map_favorite' %>
