@import '~bootstrap/scss/bootstrap';

$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';

* {
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
}

h1 {
  text-decoration: underline;
}

li {
  list-style-type: none;
}

img {
  width: 100%;
  height: auto;
}

.container {
  margin-top: 50px;
  margin-bottom: 50px;
}

p {
  font-family: 'Awesome 6 Free', sans-serif;
}
