<% if user_signed_in? %>
  <div id="map"></div>
  <%= javascript_pack_tag 'map_index' %>
<% else %>
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <h2>Регистрируйся</h2>
        <p>
          Регистрируйся на сайте и получи новую площадку для общения с друзьями, поиска новых любимых мест.
        </p>
      </div>
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <%= image_pack_tag('istockphoto-1137117479-612x612.jpg') %>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <h2>Добавляй места</h2>
        <p>
          Добавляй свои любимые места на карту своего города и делись с друзьями.
        </p>
      </div>
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <%= image_pack_tag('istockphoto-1253824520-612x612.jpg') %>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <h2>Отправь фото</h2>
        <p>
          Отправляй фото своих любимых мест.
        </p>
      </div>
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <%= image_pack_tag('depositphotos_23526189-stock-photo-collage-beautiful-prague.jpg') %>
      </div>
    </div>
  </div>
<% end %>
