<div class="py-5 text-center container">
  <img class="img-responsive" src="images/istockphoto-1137117479-612x612.jpg" alt="">
  <img class="img-responsive" src="images/istockphoto-1253824520-612x612.jpg" alt="">
</div>
